body {
  /* background-color: #F8F8FA; */
  background-color: rgb(39, 41, 45);
  color: rgba(255, 255, 255, 0.9);

  width: 100vw;
  margin: 0;
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: 120%;
}

h2, h3 {
  color: white;
}

.App h2 {
  margin: 1em 0 1em 0;
  display: flex;
  justify-content: center;
}

.practiceOptions {
  display: flex;
  margin: 2em auto;
}

.practiceOptions > * {
  padding: 0 1em;
  margin: 0 1em;
  height: 4.5em;
  text-align: center;
}

.wordPronunciationPair {
  margin: 1em 20%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.wordToTranslate {
  margin: 0 auto;
}

.wordToTranslate > * {
  border: 1px;
  border-radius: 4px;
  padding: 0.5em;
  margin: 0 2em;
  color: rgb(39, 41, 45);
  background-color: #ffffb3;
}

.inputs {
  margin: 2em auto;
  text-align: center;
}

.inputOption {
  margin: 0 1em;
  padding: 0 1em;
}

.wordTranslationInput {
  border: 1px;
  border-radius: 4px;
  padding: 0.5em;
  margin: 2em auto;
  width: 40%;
  text-align: center;
  align-self: center;
}

.wordTranslationAnswer {
  border: 1px;
  border-radius: 4px;
  padding: 0.5em;
  margin: 0 auto;
  width: 30%;
  text-align: center;
}

.correct {
  background-color: darkgreen;
}

.incorrect {
  background-color: darkred;
}